textarea {
    font-size: 12px;
    line-height: 15px;
}

.font-fixed {
    font-family: "Monaco","Inconsolata","Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}

pre {
    font-size: 12px;
    line-height: 14px;
}

#php-editor, #dsl-editor {
    width: 500px;
    height: 500px;
    font-size: 12px;
}

.file-tree li {
    font-size: 12px;
    line-height: 14px;
    list-style: none;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.nav-files>li>a {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
}

ul.nav-files {
    margin: 0;
}
.message-wrapper {
    position: absolute;
    left: 50%;
    z-index: 1000;
}
.message-center {
    position: relative;
    left: -50%;
}
.notice {
    z-index: 1000;
}

.btn-check {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.btn-check input {
    margin: 0;
}

.fade {
    opacity: 0.3;
}

.icon-loading {
    height: 16px;
    width: 16px;
    background-image: url("../img/spinner.gif");
    background-position: 0 0;
}

#nav-menu li {
    line-height: 16px;
}

#php-output {
    border: 1px #888888 dashed;
    padding: 8px;
    margin: 5px;
}